//media queries
@media (max-width: 991px){
    html{
       font-size: 55%; 
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    .home #next-slide,
    .home #prev-slide {
        transform: translateY(0);
        top:88%; 
    }

    .home #prev-slide {
        left: auto;
        right: 9rem;
    }
}

@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }
    .header {

        .search-form {
            width: 100%;
            right:0;
            border-radius: 0;

            &.active {
                top:99%;
                border-top: $border;
                border-bottom: $border;
            }
        }

        .navbar {
            position:absolute;
            top:99%; left: 0; right: 0;
            background: $white;
            border-top: $border;
            border-bottom: $border;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
            
            a{
                margin: 1.5rem;
                padding: 1.5rem;
                background: $light-bg;
                font-size: 2rem;
                display: block;
                border-radius: .5rem;
            }
        }
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .home .slides-container .slide .content h3 {
        font-size: 5rem;
    }

    .contact .row form .inputBox input {
        width: 100%;
    }
}
