$green: #bac34e;
$black: #222;
$white: #fff;
$light-color: #666;
$light-bg: #f3f3f3;
$border:.1rem solid rgba(0,0,0,.1);
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize ;
    transition: .2s linear;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

html {
    font-size: 62.5%;
    //overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    padding: 3rem 9%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: $green;
    color: $white;
    font-size: 1.7rem;
    cursor: pointer;

    &:hover {
        background: $black;
    }
}


//heading & title
.heading {
    background-image: url("../../image/heading-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;

    h1 {
        color: $black;
        font-size: 4rem;
    }
    p{
        padding-top: 1rem;
        font-size: 2rem;
        color: $light-color;

        a{
            color: $black;
            padding-right: .5rem;

            &:hover {
                color: $green;
            }
        }
    }
}

.title {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: $border;
    color: $black;

    span {
        color:$green;
        padding-left: .7rem;
    }
    a {
        margin-left: auto;
        color: $light-color;
        font-size: 1.5rem;

        &:hover {
            color: $green;
        }
    }
}