@import './variables';


.category .box-container {
    @include grid(16rem);

    padding: 4rem 0;

    .box {
        text-align: center;

        img {
            height: 15rem;
        }
        h3 {
            font-size: 2rem;
            margin: 1rem 0;
            color: $light-color;
        }
        &:hover h3 {
            color: $green;
        }
    }
}

.products .box-container {
    @include grid(30rem);

    .box {
        position: relative;
        background: $light-bg;
        text-align: center;
        overflow: hidden;

        &:hover .icons {
            top: 0;
        }

        .icons {
            position: absolute;
            top: -105%; left:0;
            height: 30rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(243,243,243,.8);
            gap: 1rem;

            svg{
                font-size: 2rem;
                height: 5rem;
                width: 5rem;
                line-height: 5rem;
                background: $white;
                box-shadow: $box-shadow;
                color: $light-color;
                box-sizing: border-box;
                padding: 1.5rem;
                cursor: pointer;

                &:hover {
                    background: $green;
                    color: $white;
                }
            }
        }

        .image {
            height: 30rem;
            width: 100%;
            overflow: hidden;

            img {
                // width: 100%;
                // height: 100%;
                //object-fit: cover;
            }
        }

        .content {
            padding: 1.5rem;

            h3{
                font-size: 2rem;
                color: $black;
            }
            .price {
                font-size: 2rem;
                color: $black;
                padding: 1rem 0;
            }
            .stars svg {
                font-size: 1.7rem;
                color: $green;
            }
        }
    }
}